.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
}

.order-total {
  font-size: 24px;
  color: #171f46;
}

.total-value {
  font-size: 24px;
  color: #ff0b37;
}

.total-items {
  font-size: 16px;
  color: #616e7c;
  margin: 10px 0;
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
